body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: rgb(7, 2, 2);
}

h1 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

label {
    padding: 1rem;
    border: 1px solid #d1bfd3;
    border-radius: 10px;
    outline: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="submit"] {
    padding: 1rem;
    border: 1px solid #d1bfd3;
    border-radius: 10px;
    outline: none;
}

input[type="submit"] {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

#results,
#reservations {
    margin-top: 20px;
}